#action {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-left:0;
    background: #E6E6E6;
    -webkit-transition:width 1000ms ease-in-out, height 1000ms ease-in-out;
    -moz-transition:width 1000ms ease-in-out, height 1000ms ease-in-out;
    -o-transition:width 1000ms ease-in-out, height 1000ms ease-in-out;
    transition:width 1000ms ease-in-out, height 1000ms ease-in-out;
    }

#actionForm {
    margin-bottom: 0;
    }
